/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

#blog-post img {
	width: 100%;
}


/* terms */
.brands-top {
  display: flex;
	width: 100%;
	height: auto;
  justify-content: center;
  align-items: center;
}

.intro {
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0em;
}
.intro h5 {
  margin: 0px;
  line-height: 1.5em;
}
.intro ol, ul {
padding-left: 1em;
margin-bottom: 0.3em;
}

.intro ul {
  list-style: square;
}

/* terms 响应分列 */
.brands-img {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}

.brands-img .box-image-text {
  flex: 1 0 30%;
  box-sizing: border-box;
  margin: 0 0 2em 15px;
  padding: 0em;
  overflow-x: hidden;
}

@media (max-width: 400px) {
  .brands-img .box-image-text { flex: auto; }
}

@media (min-width: 400px) {
  .brands-img .box-image-text { flex:1 0 calc(50% - 15px); }
}
@media (min-width: 800px) {
  .brands-img .box-image-text { flex:1 0 calc(30% - 15px); }
}
 
 
 
 
 
 
 
 
 
 
 